body {
    background-color: mediumseagreen;
}

.mainContainer {
    position: relative;
}

.fullPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    background-color: coral;
    border: 2px black solid;
    border-radius: 3px;
    margin-left: 1%;
    width: 45%;
    margin: 2%;
}

.cardScreen {
    max-width: 75%;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.cardTitle {
    text-align: center;
}

.cardPar {
    text-align: left;
    padding-left: 2%;
}

.cardLink {
    display: flex;
    justify-content: center;
}

#technologiesPage {
    display: inline;
}

footer {
    position: fixed;
    bottom: 1px;
    left: 0.1%;
    background-color: gold;
    width: 99.5%;
    border: 2px black solid;
}

.footPar {
    line-height: 0.25;
}